* {
  box-sizing: border-box; /* Allow the box size specified with border and padding inclusive */
  margin: 0;              /* Reset the browser's default value */
  padding: 0;             /* Reset the browser's default value */
}

/* Base font size to which the rem refers to */
html {
  font-size: 16px;
}

/* Base font family */
body {
  background-color: #704815;
  display: flex;
  justify-content: center;
}
.wall {
  height: 80rem; /* Same as .shoji */
  position: absolute;
  width: 28rem; /* Same as .shoji */
  z-index: -1;
}

.wall--left {
  left: 0px;
  top: 0px;
}

.wall--right {
  right: 0px;
  top: 0px;
}

.shoji {
  background-color: rgb(200,200,200);
  border: 1px solid rgb(255,255,255);
  display: flex;
  flex-direction: column;
  height: 80rem; /* 15 x 5 + 1 x 4 + 0.5 x 2 */
  justify-content: space-around;
  padding: 1rem;
  width: 28rem; /* 3 x 7 + 1 x 6 + 0.5 x 2 */
}

.shoji__row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shoji__cell {
  background-color: rgba(255, 255, 255, 0.9);
  height: 15rem;
  width: 3rem;
}

/* Tablets */
@media only screen and (min-width: 600px) {

}

/* Desktops */
@media only screen and (min-width: 1000px) {

}
