/* Make the box size include border width and padding (https://css-tricks.com/box-sizing/) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset the browser's default margin/padding settings for all elements
  (Uncomment these if some elements' default settings (e.g. submit button) make sense)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/* Base font size to which the rem refers to */
html {
  font-size: 18px;
}

/* Base font family */
body {
  font-family: 'Cormorant Garamond', serif;
}

/* Make the image size responsive while not exceeding its original size */
figure img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: 'Cormorant', serif;
  font-size: 2rem;
  font-weight: 700; /* Thickest weight for Cormorant Garamond */
  padding: 1rem 1rem; /* Rectangle frame */
}

.content__title {
  color: brown ;
  font-weight: 700;
  padding-bottom: 0;
  padding-left: 1rem; /* Side-alignment with paragraphs */
  padding-right: 1rem; /* Side-alignment with paragraphs */
  padding-top: 0.5rem; /* Make the new section separated enough from the previous paragraph while still keeping connected to it */
}

.content__title--section {
  font-size: 1.5rem;
}

.content__title--subsection {
  font-size: 1rem;
}

.content__title--photo {
  padding-bottom: 0.25rem;
}

.content__text {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.85rem; 
}

.content__text--caption {
  padding-top: 0;
}

/* Make sure the image size is set by its container. */
.content__image {
  overflow: hidden;
}

.content__image--five-sets {
  align-items: center; /* Make the center of the image always be shown */
  display: flex;
  justify-content: center; /* Make the center of the image always be shown */
  max-height: 180px; /* Max-height allows the image to be shorter if the aspect ratio implies so */
}

.content__image--unity img {
  border-bottom: 1px solid white;
}

.content__image--unity img:last-child {
  border-bottom: none;
}

/* Parallax */
.parallax {
  background-color: white;
}

/* Tablets (480px is the widest mobile device, according to https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/screen-sizes.png) */
@media only screen and (min-width: 480px) {

}

/* Desktops (1024px is the widest tablet in landscape orientation according to https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/screen-sizes.png) */
@media only screen and (min-width: 1024px) {
  /* Enlarge the base font size. 21px to follow Medium.com */
  html {
    font-size: 21px;
  }
}
