* {
  box-sizing: border-box; /* Allow the box size specified with border and padding inclusive */
  margin: 0;              /* Reset the browser's default value */
  padding: 0;             /* Reset the browser's default value */
}

/* Base font size to which the rem refers to */
html {
  font-size: 18px;
}

/* Base font family */
body {
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-family: 'Cormorant', serif;
  font-size: 2rem;
  font-weight: 700; /* Thickest weight for Cormorant Garamond */
  padding: 1rem 1rem; /* Rectangle frame */
}

h3 {
  color: brown ;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0;
  padding-left: 1rem; /* Side-alignment with paragraphs */
  padding-right: 1rem; /* Side-alignment with paragraphs */
  padding-top: 0.5rem; /* Make the new section separated enough from the previous paragraph while still keeping connected to it */
}
p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem; /* Rectangle frame (top and bottom padding is effectively 1rem because line-height: 1.5 creates a space of 0.25rem above and below the text) */
}

/* Make sure the image size is set by its container. */
figure {
  overflow: hidden;
}

/* Make the image responsive */
figure img {
  width: 100%; /* So that the image scales with the figure element */
}

/* Parallax */
.parallax {
  background-color: white;
}

/* Media queries */
@media only screen and (max-width: 480px) {

}
