/* Base font size (see GitHub Issue #43 for rationale)*/
:root {
  font-size: 1.297rem;
}
@media only screen and (min-width: 1024px) {
  :root {
    font-size: 1.513rem;
  }
}

/* Body-text font */
.page {
  font: 500 1rem/1.5 'Cormorant Garamond', serif;
  /* See GitHub issue #24 for the rationale of line-height */
  /* For the font property syntax, see https://developer.mozilla.org/en-US/docs/Web/CSS/font#Syntax */
}

/* Make the image size responsive while not exceeding its original size */
figure {
  overflow: hidden;
}

figure img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Header and Footer */
.ichimonji {
  background-color: #BFC0C4; /* fall back for Opera Mini */
  background-image:
    radial-gradient(circle closest-side, transparent 90%, #f2dba6 91%, transparent),
    radial-gradient(circle closest-side, #BFC0C4 90%, #f2dba6 91%, #BFC0C4); /* Higher than these percentages will create noticeable dots at the intersection of four circles */
  background-size: 0.7rem 0.7rem; /* Circles won't be recognizable if smaller than these values. The feel of textile will lose if larger than these values */
  background-position: 0 0, 0.35rem 0.35rem; /* The second pair of values should be half as large as the background-size value so that the grid of circles overlaps just in halfway */
  height: 2rem;
  width: 100%;
  }

/* Side margins */

.item--margined {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.item--optically-aligned {
  margin-left: 1.45rem; /* To align the vertical bar of U, not the left edge of the serif, with the left edge of paragraphs below and above */
}

/* Titles */

.page-title {
  font-family: 'Cormorant', serif;
  font-size: 2rem;
  font-weight: 700; /* Thickest weight for Cormorant Garamond */
  line-height: 1;
  margin-bottom: 0; /* To deal with a bug (GitHub Issue #21) */
  margin-top: 0;    /* To deal with a bug (GitHub Issue #21) */
}

.heading {
  color: #b01c21; /* Obtained by brightening the brown color of Altamira cave painging of Bison to a value of 40% */
  font-weight: 700;
  line-height: 1;
}

/* Sections */

.section--after-box {
  padding-top: 1.5rem;
}

.section--after-paragraph {
  padding-top: 1.25rem; /* to set 1.5rem space between sections. Additional 0.25rem is added below the last text line in the previous section by the line-height 1.5 */
}

.section__title {
  font-size: 1.5rem;
}

.section__paragraph {
  font-size: 1rem;
  hyphens: auto;
  padding-top: 0.8rem; /* 1.3rem space between paragraphs: 0.8 + (x-1), where x is line-height */
  max-width: 32em;
  /* min-width: 15em; */
}

.section__paragraph--first { /* Below the section title or the image */
  padding-top: 1.05rem; /* 1.3rem space between image bottom and text top: 1.05 + (x-1)/2, where x is line height */
}

.section__figure--first { /* Below the title or another figure */
  padding-top: 1.3rem;
}

/* Paragraphs (i.e. subsections) */

.paragraph {
  padding-top: 1.05rem; /* to set 1.3rem space between the subsection title and the last text line above. Additional 0.25rem is added below the last text line in the previous section by the line-height 1.5 */
}

.paragraph__title {
  font-size: 1.2rem;
}

.paragraph__lines {
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 0.25rem; /* 0.5rem space between the image and the text below: 0.25 + (x - 1)/2 */
}

.paragraph__figure {
  margin-top: 0.5rem; /* padding-top does not work as the height of the image is set to include padding */
}

.paragraph__figure--after-text {
  margin-top: 0.25rem; /* The space between lines */
}

/* Make sure the image size is set by its container. */
.figure__container--floorplan {
  border: 1px solid #f2f2f2;
  padding: 0.5rem;
}

.figure__caption--floorplan {
  font-family: 'Cormorant', serif;
  font-size: 0.85rem;
  font-weight: 700; /* Thickest weight for Cormorant Garamond */
  line-height: 1.2;
  padding-top: 0.5rem;
  text-align: right;
}

.figure__container--five-sets {
  align-items: center; /* Make the center of the image always be shown */
  display: flex;
  justify-content: center; /* Make the center of the image always be shown */
  max-height: 180px; /* Max-height allows the image to be shorter if the aspect ratio implies so */
}

.figure__container--unity img {
  border-bottom: 1px solid white;
}

.figure__container--unity img:last-child {
  border-bottom: none;
}

.author {
  border-top: 1px solid #f2f2f2;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
}

/* Tablets (480px is the widest mobile device, according to https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/screen-sizes.png) */
@media only screen and (min-width: 480px) {

}

/* Desktops (1024px is the widest tablet in landscape orientation according to https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/screen-sizes.png) */
@media only screen and (min-width: 1024px) {
  }
